<div class="reset picture-background">
    <div *ngIf="!messageState" class="reset__container auth-white-container">
        <h3 class="auth-header">
            Reset password
        </h3>
        <div
            *ngIf="formData.errors.length"
            class="reset__errors-bar errors-bar"
        >
            {{errorText}}
        </div>
        <div class="reset__input-group">
            <input 
                type="password" 
                class="input input--standard input--auth"
                placeholder="new password"
                [ngClass]="{'input--error': formData.errors.length}"
                [(ngModel)]="formData.password"
            >
        </div>
        <div class="reset__input-group">
            <input 
                type="password" 
                class="input input--standard input--auth"
                placeholder="repeat password"
                [ngClass]="{'input--error': formData.errors.length}"
                [(ngModel)]="formData.repeat"
            >
        </div>
        <div class="auth-link">
            <a [routerLink]="['/auth/login']">
                Login
            </a>
        </div>
        <button
            class="action-button"
            (click)="reset()"
        >
            Reset
        </button>
    </div>
    <app-auth-message *ngIf="messageState">
        <h3 class="auth-header">Your password has been reset.</h3>
        <p>
            <a routerLink="/auth/login">Login</a> with your new password.
        </p>
    </app-auth-message>
</div>