<div class="admin picture-background picture-background--admin">
    <h3 class="admin__header">
        WELCOME TO YOUR ADMIN PORTAL
    </h3>
    <div class="admin__container auth-white-container">

        <div class="admin__section">
            <h3 class="admin__section-header">
                Manage Users
            </h3>
            <img class="admin__icon" src="assets/manage-users.svg" alt="">
            <button routerLink="users" class="admin__link">Manage users</button>
        </div>
        <div class="admin__separator"></div>
        <div class="admin__section">
            <h3 class="admin__section-header">
                Analytics
            </h3>
            <img class="admin__icon" src="assets/analysis.svg" alt="">
            <button routerLink="analytics" class="admin__link">ANALYTICS</button>
        </div>
        <div class="admin__separator"></div>
        <div class="admin__section">
            <h3 class="admin__section-header">
                Calendars
            </h3>
            <img class="admin__icon" src="assets/calendar.svg" alt="">
            <button routerLink="calendars" class="admin__link">Manage calendars</button>
        </div>
    </div>
</div>
