<div class="forgot picture-background">
    <div *ngIf="!messageState" class="forgot__container auth-white-container">
        <h3 class="auth-header">
            Forgot Password?
        </h3>
        <div
            *ngIf="error"
            class="forgot__errors-bar errors-bar"
        >
            {{errorText}}
        </div>
        <div class="forgot__input-group">
            <input 
                type="text" 
                class="input input--standard input--auth"
                placeholder="user id or email"
                [ngClass]="{'input--error': hasError}"
                [(ngModel)]="email"
            >
        </div>
        <div class="auth-link">
            <a [routerLink]="['/auth/login']">
                Back to login
            </a>
        </div>
        <button
            class="action-button"
            (click)="reset()"
        >
            Reset
        </button>
    </div>
    <app-auth-message *ngIf="messageState">
        <h3 class="auth-header">We have sent an email.</h3>
        <p>Please follow up the instructions to complete resetting your password.</p>
    </app-auth-message>
</div>