<div class="change picture-background">
    <div *ngIf="!messageState" class="change__container auth-white-container">
        <h3 class="auth-header">
            Change Password
        </h3>
        <div
            *ngIf="error"
            class="change__errors-bar errors-bar"
        >
            {{errorText}}
        </div>
        <div class="change__input-group">
            <input 
                type="password"
                class="input input--standard input--auth"
                placeholder="current password"
                [ngClass]="{'input--error' : errors.includes('current')}"
                [(ngModel)]="formValue.current"
            >
        </div>
        <div class="change__input-group">
            <input 
                type="password"
                class="input input--standard input--auth"
                placeholder="new password"
                [ngClass]="{'input--error' : errors.includes('password')}"
                [(ngModel)]="formValue.password"
            >
        </div>
        <div class="change__input-group">
            <input 
                type="password"
                class="input input--standard input--auth"
                placeholder="repeat new password"
                [ngClass]="{'input--error' : errors.includes('repeat')}"
                [(ngModel)]="formValue.repeat"
            >
        </div>
        <button
            class="action-button"
            (click)="change()"
        >
            Change
        </button>
    </div>
</div>