.calendar {
    display: flex;
    justify-content: center;
    &__container {
        max-width: 80vw;
        min-width: 70vw;
        margin-top: 40px;
    }

    &__items-container {
        display: flex;
        flex-direction: column;
    }

    &__header {
        font-size: 25px;
        margin-bottom: 10px;
        //add
        color: #FFFFFF;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 60px;
        padding: 5px 10px;
        //add
        background: #FFFFFF;
        &:nth-child(odd) {
            //background-color: #eeeeee;
            background-color: #ffffff;
        }
        &--header {
            //add border-radius
            border-radius: 5px 5px 0 0;
            //background-color: #003f5c !important;
            background-color: #e60028 !important;
            color: white;
            font-weight: 800;

            & > span {
                flex: 0 0 40%;
            }
        }

        &--add {
            //background: #eeeeee !important;
            background: #ffffff !important;
            //add border-radius
            border-radius: 5px;
            margin-bottom: 30px;
            padding: 20px 10px;
        }
    }

    &__input-group {
        display: flex;
        flex: 0 0 40%;
        flex-direction: column;
        //add
        color: #00014a;

        &>input {
            height: 40px;
            width: 80%;
            //border: 1px solid gray;
            border: 1px solid #00014a;
            border-radius: 5px;
            outline: none;
            font-size: 20px;
            padding: 0 10px;
        }
    }

    &__edit {
        flex: 0 0 20%;
        text-align: center;
        font-size: 20px;

        & > button {
            height: 40px;
            padding: 0 20px;
            color: white;
            //background: #026C7C;
            background: #00014a;
            border: none;
            width: 100%;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            font-size: 18px;
        }
    }

    &__edit-icon {
        cursor: pointer;
        margin: 10px;

        &--delete {
            color: red;
        }
    }
}
